{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome, {{user.first_name.title|default:'Guest'}}</h1>
        <p class="lead">
            Final Project Designed for the <b>SI-507 Intermediate Programming</b> course by <b>Rohan Sequeira</b>.<br>
            This application can do the following:<br>
            1. The project is titled <b>"Top Rated Places in your Selected City"</b>.<br>
            2. Users can Sign In or Sign Up into the Application. The <b>User Registration system</b> is built using the Django framework.<br>
            3. Authenticated Users are then redirected to the Main Page, which will pick up your current Login Location using Geolocation and provide an option to choose a different city.<br>
            4. Finally based on the State and City of your choice, the application will displays <b>Top-rated Places in the City along with Useful Information about the State</b>.<br>
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}